<a href="https://colab.research.google.com/github/JhonatanWalterSen/python/blob/master/%5B14%5DMachine_learning/Python_TOTAL_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Práctica de la librería Numpy

En este notebook, se desarrollarán una serie de tareas utilizando la librería Numpy (Numerical Python).

Se proponen y documentan posibles formas de resolver los ejercicios, pero las mismas no son únicas.

Siempre es una buena idea verificar la [Documentación Oficial de Numpy](https://numpy.org/devdocs/user/index.html), donde es posible encontrar todo tipo de información referida a esta librería. Y si te quedas trabado, busca en Google "como hacer [algo] con Numpy". Hay enormes probabilidades de que esa pregunta ya haya sido respondida!

In [1]:
# Importamos Numpy con su abreviación "np"
import numpy as np

In [3]:
# Podemos crear arrays de una dimensión con la función np.array()
array_unidim = np.array([1,2,3,4,5,6,7,8])

# O un array de dos dimensiones (bidimensional)
array_bidim = np.array([[1, 2, 3],
                       [4, 5, 6]])

# O un array de tres dimensiones (tridimensional)
array_tridim = np.array([[[1, 2, 3],
                       [4, 5, 6]],
                         [[8, 9, 10],
                          [11, 12, 13]]])

Para cada uno de estos arrays, podemos obtener sus propiedades, tales como su "forma", número de dimensiones, tipos de datos y tamaño.

In [5]:
# Atributos del array unidimensional (forma, número de dimensiones, tipos de datos, tamaño, y tipo)
array_bidim.shape, array_bidim.ndim, array_bidim.dtype, array_bidim.size, type(array_bidim)

((2, 3), 2, dtype('int64'), 6, numpy.ndarray)

In [6]:
# Atributos del array bidimensional
array_bidim.shape, array_bidim.ndim, array_bidim.dtype, array_bidim.size, type(array_bidim)

((2, 3), 2, dtype('int64'), 6, numpy.ndarray)

In [7]:
# Atributos del array tridimensional
array_tridim.shape, array_tridim.ndim, array_tridim.dtype, array_tridim.size, type(array_tridim)

((2, 2, 3), 3, dtype('int64'), 12, numpy.ndarray)

In [10]:
# Importamos pandas como pd, y creamos un DataFrame a partir del array bidimensional
import pandas as pd
datos = pd.DataFrame(array_bidim)
datos

   0  1  2
0  1  2  3
1  4  5  6

In [11]:
# Creamos un array de tamaño 4x3, formado únicamente por unos (1)
unos = np.ones((4,3))
unos

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [12]:
# Creamos un array de tamaño 2x4x3, formado únicamente por ceros (0)
ceros = np.zeros((2,4,3))
ceros

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]]])

In [14]:
# Creamos un array de números en el rango de 0 a 100, con un paso de 5
array_1 = np.arange(0, 100, 5)
array_1

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80,
       85, 90, 95])

In [17]:
# Creamos un array de números aleatorios enteros comprendidos en entre 0 y 10, de tamaño (2, 5)
array_2 = np.random.randint(0, 10,(2, 5))
array_2

array([[9, 4, 5, 4, 9],
       [5, 0, 3, 6, 8]])

In [19]:
# Creamos un array de números aleatorios decimales comprendidos en entre 0 y 1, de tamaño (3, 5)
array_3 = np.random.random((3,5))
array_3

array([[0.20866059, 0.48939058, 0.82117539, 0.38890766, 0.15172484],
       [0.42736917, 0.02657792, 0.37518276, 0.88657649, 0.64599267],
       [0.08602682, 0.88660158, 0.30710485, 0.85050322, 0.08109328]])

In [23]:
# Establecemos la "semilla" de números aleatorios en 27
np.random.seed(27)

# Creamos un array de números aleatorios enteros comprendidos en entre 0 y 10, de tamaño (3, 5)
array_4 = np.random.randint(0, 10,(3, 5))
array_4

array([[3, 8, 8, 8, 0],
       [5, 8, 9, 1, 2],
       [1, 1, 4, 6, 3]])

¿Qué ocurre al correr la última celda nuevamente, a diferencia de las anteriores?

In [24]:
# Encontramos los valores únicos del array_4
np.unique(array_4)

array([0, 1, 2, 3, 4, 5, 6, 8, 9])

In [25]:
# Extraemos el elemento de índice 1 del array_4
array_4[1]

array([5, 8, 9, 1, 2])

In [27]:
# Extraemos las primeras dos filas del array_4
array_4[:2]

array([[3, 8, 8, 8, 0],
       [5, 8, 9, 1, 2]])

In [28]:
# Extraemos los dos primeros datos de las primeras dos filas del array_4
array_4[:2, :2]

array([[3, 8],
       [5, 8]])

In [32]:
# Creamos dos arrays de tamaño 3x4: uno relleno de números aleatorios entre 0 y 10, y otro relleno de unos
array_5 = np.random.randint(0, 10, (3, 4))
array_6 = np.ones((3,4))

In [33]:
# invocamos el array_5
array_5

array([[9, 2, 2, 3],
       [0, 1, 5, 9],
       [5, 1, 3, 9]])

In [34]:
# invocamos el array_6
array_6

array([[1., 1., 1., 1.],
       [1., 1., 1., 1.],
       [1., 1., 1., 1.]])

In [36]:
# Sumamos los dos arrays
array_5 + array_6

array([[10.,  3.,  3.,  4.],
       [ 1.,  2.,  6., 10.],
       [ 6.,  2.,  4., 10.]])

In [38]:
# Creamos ahora un array de tamaño (4,3) lleno de unos
array_7 = np.ones((4,3))
array_7

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [40]:
# Intentaremos sumar los arrays 6 y 7
array_6 + array_7

ValueError: ignored

¿A qué se debe el error anterior? ¿Qué deberíamos tener en cuenta para que no suceda?

In [41]:
# Entonces crearemos otro array de tamaño (4,3) lleno de unos
array_8 = np.ones((4,3))
array_8

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [42]:
# Restamos el array_8 al array_7
array_8 - array_7

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [43]:
# Creamos otros dos arrays de tamaño 3x3 con números aleatorios del 1 al 5
array_9 = np.random.randint(1,5 , (3, 3))
array_10 = np.random.randint(1,5 , (3, 3))

In [44]:
# invocamos el array_9
array_9

array([[3, 2, 1],
       [4, 4, 4],
       [1, 4, 3]])

In [45]:
# invocamos el array_10
array_10

array([[2, 3, 1],
       [1, 3, 1],
       [3, 1, 2]])

In [46]:
# Multiplicamos los últimos dos arrays entre sí
array_9 * array_10

array([[ 6,  6,  1],
       [ 4, 12,  4],
       [ 3,  4,  6]])

In [47]:
# Elevamos el array_9 al cuadrado
array_9 ** 2

array([[ 9,  4,  1],
       [16, 16, 16],
       [ 1, 16,  9]])

In [50]:
# Buscamos la raíz cuadrada del array_10
np.sqrt(array_10)

array([[1.41421356, 1.73205081, 1.        ],
       [1.        , 1.73205081, 1.        ],
       [1.73205081, 1.        , 1.41421356]])

In [51]:
# Hallamos el promedio de los valores del array_9
array_9.mean()

2.888888888888889

In [52]:
# Hallamos el valor máximo de los valores del array_9
array_9.max()

4

In [53]:
# Hallamos el valor mínimo de los valores del array_9
array_9.min()

1

In [54]:
# Cambiamos la forma del array_9 por una de 9x1, y lo almacenamos como array_11
array_11 = array_9.reshape((9, 1))

In [55]:
# invocamos el array_11
array_11

array([[3],
       [2],
       [1],
       [4],
       [4],
       [4],
       [1],
       [4],
       [3]])

In [ ]:
# Transponemos el array_11

In [ ]:
# Comparamos el array_9 y el array_10, para saber cuáles elementos del array_9 son mayores a los del array_10

¿Qué tipos de datos forman parte del array de resultados?

In [ ]:
# Veamos sus nuevos tipos de datos

In [ ]:
# Alguno de los elementos del array_9 es igual su equivalente del array_10?

In [ ]:
# Comparamos nuevamente ambos arrays, en esta ocasión con >=

In [ ]:
# Buscamos los elementos del array_9 que son mayores a 2

In [ ]:
# Ordenamos de menor a mayor los elementos dentro del array_9